{% extends "A3.html" %}
{% block m3 %}



<h1>GYM registration</h1>
<form method="post" action="gym_reg">
    <p>name<input type="text" name="t1"/> </p>
    <p>owner_name<input type="text" name="t2"/> </p>
    <p>address<input type="text" name="t3"/> </p>
    <p>contact<input type="text" name="t4"/> </p>
    <p>email<input type="text" name="t5"/> </p>
    <p>Password<input type="text" name="t6" /> </p>
    <p><input type="submit" name="b1" value="INSERT" /></p>
</form>
{% if result %}
   <h3>{{ result }}</h3>
{% endif %}

{% endblock %}